body {
  font-family: 'Raleway', sans-serif;
	margin:	0px;
}
/*a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}*/

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #d52d40;
  /*color: #F05F40;*/
}
a:hover,
a:focus {
  color: #d52d40;
  /*color: #eb3812;*/
}



/*a {
  color: #000;
  text-decoration: none;
  span {
    //font-weight: 100;
    transition: all .5s;
    border-bottom: 1px solid;
  }
  span:nth-child(2){
    transition-delay: .1s;
  }
  span:nth-child(3){
    transition-delay: .2s;
  }
  span:nth-child(4){
    transition-delay: .3s;
  }
  &:hover{
    span {
      font-weight: 700;
    }
    span:nth-child(4){
      transition-delay: .3s;
    }
    span:nth-child(3){
      transition-delay: .2s;
    }
    span:nth-child(2){
      transition-delay: .1s;
    }
    span:nth-child(1){
      transition-delay: 0s;
    }
  }

  &.hover-shadow{
    &:hover{
      $color: #ddd;
    text-shadow: 1px 1px 0px $color, 2px 2px 0px $color, 3px 3px 0px $color;
    }
  }
  &.hover-color{
    &:hover{
      $color: #ddd;
    color: darkmagenta;
    border-color: darkmagenta;
    }
  }
}*/


.header {
	border-bottom: 2px solid black;
	padding: 10px 10px 10px 10px;
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.profileImage {
	float: left;
	height: 100px;
}
.name {
	text-align: right;
	font-size: 48px;
	margin: 0px;
}
.subtitle {
	text-align: right;
}
.project {
	width: 30%;
	float: left;
	padding: 5px;
}
.projectsRow {
	width: 100%;
	margin: 0 5% 0 5%;
}
.projectImage {
	width: 100%;
}
.mylink {
	display: block;
	text-align: center;
}
#aboutMeDiv {
	display: inline-block;
	width: 100%;
}
#comingSoon {
	color: gray;
}
#aboutMe {
	text-align: left;
	margin-left: 20px;
}
.singleRow {
	float: left;
}
.right-side-nav {
	position: fixed;
	right: 0;
	width: 130px;
	height: 100%;
	background: #FFF;
	z-index: 9999;
	border-left: 1px solid #EEE;
	overflow: hidden;
}